/* FONTS */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../src/assets/fonts/poppins/poppins-v20-latin-300.woff2') format('woff2'),
    url('./assets/fonts/poppins/poppins-v20-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/poppins/poppins-v20-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/poppins/poppins-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/poppins/poppins-v20-latin-500.woff2') format('woff2'),
    url('./assets/fonts/poppins/poppins-v20-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/poppins/poppins-v20-latin-600.woff2') format('woff2'),
    url('./assets/fonts/poppins/poppins-v20-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/poppins/poppins-v20-latin-700.woff2') format('woff2'),
    url('./assets/fonts/poppins/poppins-v20-latin-700.woff') format('woff');
}

/* ROBOTO */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/roboto/roboto-v30-latin-300.woff2') format('woff2'),
    url('./assets/fonts/roboto/roboto-v30-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto/roboto-v30-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/roboto/roboto-v30-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/roboto/roboto-v30-latin-500.woff2') format('woff2'),
    url('./assets/fonts/roboto/roboto-v30-latin-500.woff') format('woff');
}

/* ROWDIES */

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/rowdies/rowdies-v15-latin-300.woff2') format('woff2'),
    url('./assets/fonts/rowdies/rowdies-v15-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/rowdies/rowdies-v15-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/rowdies/rowdies-v15-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/rowdies/rowdies-v15-latin-700.woff2') format('woff2'),
    url('./assets/fonts/rowdies/rowdies-v15-latin-700.woff') format('woff');
}

/* MAIN DESIGN */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  background-color: #F5F5F5;
}

.container {
  max-width: 1313px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: #FFEFBA;
  background: linear-gradient(0deg, #ffefbad6 58%, #FFFFFF 100%);
  height: 758px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 108px;
  height: 48px;
  margin-top: 40px;
  user-select: none;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 19%;
}

.navbar-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
}

.navbar-menu-list-item {
  list-style: none;
  margin-left: 53px;
}

.navbar-menu-list-item:first-child {
  margin-left: 0;
}

.navbar-menu-list-item-link {
  text-decoration: none;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.3;
}

.navbar-menu-list-item-link:hover {
  color: #FF7F00;
  transition: 0.2s;
}

.navbar-buy-now-btn {
  font-family: 'Rowdies', sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 300;
  color: #FFF;
  background-color: #FF9635;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 32px;
  cursor: pointer;
}

.navbar-buy-now-btn:hover {
  background-color: #FF7F00;
  transition: 0.3s;
}

/* HERO SECTION */

.hero-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
}

.hero-left-top-content-txt {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 70px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
  line-height: normal;
  margin-top: 2px;
}

.hero-left-content {
  width: 38%;
}

.hero-right-content {
  width: 52.4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-right-img {
  width: 539px;
  height: 428px;
  user-select: none;
}

.hero-left-bottom-content-txt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 19px;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
  line-height: normal;
  margin-top: 31px;
}

.hero-next-btn {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-next-btn:hover .hero-next-img {
  transform: scale(1.04);
  transition: 0.3s;
}

.chouse-section {
  display: flex;
  margin-top: 33px;
  margin-left: 2px;
}

.chouse-box {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  border-radius: 5px;
}

.chouse-brand-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chouse-brand {
  padding: 0 30px 0 36px;
}

.chouse-brand-txt-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chouse-brand-select-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chouse-brand-txt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 19px;
  font-weight: 300;
  color: #000;
  margin-bottom: 10px;
  margin-top: 18px;
  line-height: normal;
}

.chouse-brand-select {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 19px;
  font-weight: 500;
  color: #000;
  margin-top: 0;
  margin-bottom: 43px;
  line-height: normal;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.chouse-right-line {
  width: 1px;
  height: 50px;
  background-color: #000;
}

.chouse-person-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chouse-person {
  padding: 0 51px 0 59px;
}

.chouse-person-txt-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chouse-person-select-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chouse-person-txt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 19px;
  font-weight: 300;
  color: #000;
  margin-bottom: 10px;
  margin-top: 18px;
  line-height: normal;
}

.chouse-person-select {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 19px;
  font-weight: 500;
  color: #000;
  margin-top: 0;
  margin-bottom: 43px;
  line-height: normal;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  width: 82%
}

.chouse-size-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chouse-size {
  padding: 0 28px 0 36px;
}

.chouse-size-txt-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chouse-size-select-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chouse-size-txt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 19px;
  font-weight: 300;
  color: #000;
  margin-bottom: 10px;
  margin-top: 18px;
  line-height: normal;
}

.chouse-size-select {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 19px;
  font-weight: 500;
  color: #000;
  margin-top: 0;
  margin-bottom: 43px;
  line-height: normal;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  width: 83%;
}

.chouse-price-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chouse-price {
  padding: 0 28px 0 57px;
}

.chouse-price-txt-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chouse-price-select-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chouse-price-txt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 19px;
  font-weight: 300;
  color: #000;
  margin-bottom: 10px;
  margin-top: 18px;
  line-height: normal;
}

.chouse-price-select {
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-size: 19px;
  font-weight: 500;
  color: #000;
  margin-top: 0;
  margin-bottom: 43px;
  line-height: normal;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.chouse-buy-now-btn {
  font-family: 'Rowdies', sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 300;
  color: #FFF;
  background-color: #FF9635;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 23px;
  margin-right: 17px;
}

.chouse-buy-now-btn:hover {
  background-color: #FF7F00;
  transition: 0.3s;
}

/* VIDEO SECTION */

.video-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  padding: 0 25px;
}

.video-left-content {
  width: 50%;
  margin-top: 39px;
  margin-left: 2px;
}

.video-right-content {
  width: 50%;
}

.video-left-top-content-txt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 300;
  color: #FF8947;
  user-select: none;
}

.video-left-center-content-txt {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 55px;
  font-weight: 500;
  color: #000;
  margin-top: 8px;
  line-height: normal;
}

.video-left-bottom-content-txt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  margin-top: 8px;
  line-height: 1.4;
}

.video-right-top-content {
  display: flex;
  justify-content: right;
  align-items: center;
}

.vide-top-right-inner {
  display: flex;
  user-select: none;
}

.video-top-right-img {
  width: 547px;
  height: 309px;
  margin-right: -4px;
}

.video-top-right-old-img {
  position: absolute;
  margin: 40px 0 0 -32px;
  width: 547px;
  height: 309px;
}

.video-top-right-play-img {
  position: absolute;
  margin: 128px 0 0 215px;
  width: 85px;
  height: 95px;
  cursor: pointer;
}

.video-top-right-play-img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* FEATURE SECTION */

.feature-sec {
  margin-top: 220px;
}

.feature-inner-shrt-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  color: #FF8947;
}

.feature-inner-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  color: #000;
  margin-top: 7px;
}

.feature-cards-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 84px;
}

.feature-card {
  width: 32.25%;
  /* height: 500px; */
  background-color: #FFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
}

.feature-card-img-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 53px;
}

.feature-card-img-background {
  width: 154px;
  height: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #F9F9F9;
}

.feature-card-img {
  width: 108px;
  height: 105px;
}

.feature-card-title-txt {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  margin-top: 32px;
  text-align: center;
}

.feature-card-txt-p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 18px;
  color: #000;
  text-align: center;
  margin: 0 35px;
  margin-top: 20px;
}

.feature-card-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-card-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FF8B37;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.feature-card-btn:hover {
  color: #FF7F00;
  transition: 0.3s;
  text-decoration: underline;
}

/* GALLARY SECTIO */

.gallery-inner {
  margin: 0 31px;
  margin-top: 236px;
}

.gallery-top-short-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #FF8947;
}

.gallery-top-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  color: #000;
  margin-top: 7px;
}

.gallary-caterogies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 31px;
}

.gallary-caterogies-left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallary-caterogies-list {
  margin-left: 10%
}

.gallary-caterogies-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}

.gallary-caterogies-list-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.gallary-caterogies-list-li {
  margin-left: 25px;
}

.gallary-caterogies-list-li:first-child {
  margin-left: 0;
}

.gallary-caterogies-list-btn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
}

.gallary-caterogies-list-btn:hover {
  transition: 0.3s;
  text-decoration: underline;
  text-decoration-color: #FF7F00;
}

.gallary-caterogies-list-li:nth-child(2) .gallary-caterogies-list-btn:nth-child(1) {
  text-decoration: underline;
  text-decoration-color: #FF7F00;
}

.gallary-caterogies-btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 11px;
}

.gallary-caterogies-next-btn {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallary-caterogies-next-btn:first-child {
  margin-right: 45px;
}

.gallary-caterogies-next-btn-img {
  width: 58px;
  height: 58px;
}

.gallary-caterogies-next-btn-img:hover {
  transition: 0.3s;
  transform: scale(1.04);
}

.gallery-images-card-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  margin-left: 5px;
  margin-right: 5px;
}

.gallery-images-card {
  width: 100%;
  height: 100%;
  /* border-radius: 15px; */
}

.gallery-images-card:hover {
  transition: 0.3s;
  transform: scale(1.03);
}

.gallery-product-info-box {
  margin-left: 30px;
}

.gallery-images-card-list {
  list-style: none;
}

.gallery-images-card-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  margin-top: -11px;
}

.gallery-images-card-list-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #000;
  margin-top: 10px;
}

.gallery-images-card-list-span {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #000;
  margin-left: 18px;
}

.gallery-buy-now-btn {
  font-family: 'Rowdies', sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 300;
  color: #FFF;
  background-color: #FF9635;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 17px;
  cursor: pointer;
  margin-bottom: 20px;
}

.gallery-buy-now-btn:hover {
  background-color: #FF7F00;
  transition: 0.3s;
}

/* TESTIMONIALS SECTION */

.testimonials {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 178px;
}

.testimonials-title-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  color: #FF8947;
  text-align: center;
}

.testamonial-card {
  display: flex;
  justify-content: space-between;
  margin-top: 105px;
}

.testamonial-left-side {
  width: 50%;
}

.testamonial-right-side {
  width: 46.5%;
}

.testamonial-right-side-top-content {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  margin-left: 2px;
}

.testamonial-right-side-top-content-navigation-btns {
  width: 159px;
  display: flex;
  justify-content: space-between;
}

.testamonial-right-side-top-content-navigation-btns-toLeft {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.testamonial-right-side-top-content-navigation-btns-toLeft:hover {
  transition: 0.3s;
  transform: scale(1.04);
}

.testamonial-right-side-bottom-content {
  margin-top: 11px;
  margin-left: 3px;
}

.testamonial-right-side-bottom-content-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.testamonial-right-side-bottom-content-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}

.testamonial-right-side-bottom-content-user-txt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-top: 16px;
}

.testamonial-right-side-bottom-content-user-span {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  margin-top: 8px;
}

/* SIGN UP SECTION */

.sign-up-sec-innner {
  display: flex;
  justify-content: space-between;
  margin-top: 186px;
  background: #FF9068;
  background: linear-gradient(50deg, #FD746C 1%, #FF9068 100%);
  border-radius: 18px;
  height: auto;
}

.sign-up-sec-left-side {
  /* width: 50%; */
  /* background-color: #FF9635; */
  border-radius: 18px 0 0 18px;
  display: flex;
}

.sign-up-sec-left-side-img {
  width: 564px;
  height: 374px;
}

.sign-up-sec-right-side {
  width: 53%;
  border-radius: 0 18px 18px 0;
  display: flex;
  justify-content: center;
}

.sign-up-sec-right-side-inner {
  width: 100%;
}

.sign-up-sec-right-side-inner-heading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  margin-top: 49px;
}

.sign-up-sec-right-side-inner-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: normal;
  margin-top: 42px;
}

.sign-up-sec-right-side-inner-form {
  display: flex;
  margin-top: 50px;
}

.sign-up-sec-right-side-inner-form-input {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: normal;
  width: 75.6%;
  height: 52px;
  background: #FFFFFF97;
  border: 2px solid #FFF ;
  border-radius: 5px;
  padding: 0 26px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.sign-up-sec-right-side-inner-form-btn {
  height: 52px;
  background-color: #FFF;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #FFF;
  border-radius: 7px;
  cursor: pointer;
  padding: 0 24px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* FOOTER */

.footer-top-section {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
}

.footer-section-inner {
  padding: 0 12px;
}

.footer-site-address-inner {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  margin-top: 25px;
  line-height: normal;
}

.footer-top-section-right-side {
  width: 66.2%;
  display: flex;
  justify-content: space-between;
}

.footer-top-section-right-side-cards {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top-section-right-side-cards-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  margin-top: 15px;
}

.footer-top-section-right-side-cards-list {
  margin-top: 22px;
}

.footer-top-section-right-side-cards-list-item {
  list-style: none;
  text-align: center;
}

.footer-top-section-right-side-cards-list-item-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  text-decoration: none;
  color: #000;
  margin-top: 10px;
  line-height: 1.6;
}

.footer-top-section-right-side-cards-list-item-last-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.footer-center-section {
  margin-top: -11px;
}

.footer-center-section-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.footer-social-medias-box {
  display: flex;
  margin-top: 9px;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social-medias-box-link {
  text-decoration: none;
  margin-left: 45px;
}

.footer-social-medias-box-link:first-child {
  margin-left: 0;
}

.footer-social-medias-box-link:hover {
  scale: 1.07;
  transition: all 0.3s ease-in-out;
}

.footer-social-medias-box-icon {
  margin-left: -5px;
}